{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>AWS Project</title>
<link rel = "icon" href = "{% static 'tab_logo.png' %}" type = "image/x-icon">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery.dropotron-1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.slidertron-1.1.js' %}"></script>
<script type="text/javascript">
	$(function() {
		$('#menu > ul').dropotron({
			mode: 'fade',
			globalOffsetY: 11,
			offsetY: -15
		});

	});
</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">AWS Project</a></h1>
		</div>
		<div id="slogan">
			<h2>Created by MSSM Groups</h2>
		</div>
	</div>
	<div id="menu">
		<ul>
            <li><a href="{% url 'home' %}">Home</a></li>
			<li class="first">
				<span class="opener">Student<b></b></span>
				<ul>
					<li><a href="{% url 'list_student' %}">List Student</a></li>
					<li><a href="{% url 'add_student' %}">Add Student</a></li>
				</ul>
			</li>
			<li><a href="{% url 'search_student' %}">Search</a></li>
		</ul>
		<br class="clearfix" />
	</div>

	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Search Student</h2>
			</div>
			<div class="box" id="content-box1">
                <h3>Input Section</h3>
                
                <!-- Show bucket in a region-->
                <center>
                    <form id="search_form" action="{% url 'search_validate' %}" method="POST">
                        {% csrf_token %}
                        <label for="univ_id">University ID:</label>
                        <input type="text" id="univ_id" name="univ_id"><br>
						<!-- <select id="search" name="search">
							<option value="eu-north-1">eu-north-1</option>
							<option value="eu-central-1">eu-central-1</option>
							<option value="eu-west-1">eu-west-1</option>
							<option value="ap-southeast-2">ap-southeast-2</option>
							<option value="ap-south-1">ap-south-1</option>
							<option value="us-east-1">us-east-1</option>
						</select> -->
                        <!-- <input type="text" name="search"><br/> -->
                        <input type="submit" name="search_submit" value="Submit" />
                    </form><br/><br/>
                </center>
			</div>
			<div class="box" id="content-box2">
				<h3>Output Section</h3>
                <center>

                    {% if student %}
                    Search result for Univ. ID={{student.univ_id}}
					<table>
					<tr>
                        <th>Field</th>
                        <th>Value</th>
					</tr>
					
					<tr>
                        <td>University ID</td>
						<td>{{student.univ_id}}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
						<td>{{student.first_name}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
						<td>{{student.last_name}}</td>
                    </tr>
                    <tr>
                        <td>Age</td>
						<td>{{student.age}}</td>
                    </tr>
                    <tr>
                        <td>Course</td>
						<td>{{student.course}}</td>
					</tr>
					</table>
					{% endif %}
				</center>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>Cursus magnis</h3>
			</div>
			<div class="box">
				<h3>Morbi at varius</h3>
				<div class="date-list">
				</div>
			</div>
		</div>
		<br class="clearfix" />
	</div>
	<div id="page-bottom">
		<div id="footer">

			<a href="#"><i class="fa fa-facebook-official"></i></a>
			<a href="#"><i class="fa fa-pinterest-p"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-flickr"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a><br>
			MSSM Groups
		</div>
		<!-- <div id="page-bottom-content">
			<h3>Magnis hendrerit erat</h3>
			<p>
				Euismod sodales sociis hendrerit pulvinar acursus urna. Consectetur egestas sodales at ornare laoreet turpis. Lorem id sapien ridiculus sagittis imperdiet urna suspendisse. Posuere arcu parturient quam risus. Aliquam nullam magnis integer gravida vulputate felis. Consectetur montes sollicitudin dictum. Auctor sociis hendrerit pulvinar acursus urna lorem ipsum dolor vivamus pulvinar libero. Massa egestas cubilia lacus augue mattis consectetur.
			</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>Sed interdum</h3>
			<ul class="list">
				<li class="first"><a href="#">Suspendisse ultricies</a></li>
				<li><a href="#">Tortor mollis enim</a></li>
				<li class="last"><a href="#">Lorem enim tempor</a></li>
			</ul>
		</div>
		<br class="clearfix" /> -->
	</div>
</div>
<div id="footer">
    &copy; MSSM. All rights reserved by MSSM Groups.
</div>
</body>
</html>